.photo-grid {
    max-width: 1184px;
}

@media screen and (max-width: 1040px) {
    .photo-grid {
        max-width: 928px;
    }
}

@media screen and (max-width: 820px) {
    .photo-grid {
        max-width: 720px;
    }
}

@media screen and (max-width: 560px) {
    .photo-grid {
        max-width: 288px;
    }
}