.places {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 984px;
    margin: 0 auto;
    row-gap: 80px;
    padding: 92px 0;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 928px;
    }
}