.footer__link {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }
}