@font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url("./Inter/Inter-Regular.woff2") format("woff2"),
    url("./Inter/Inter-Regular.woff") format("woff"),
    url("./Inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    src: url("./Inter/Inter-Bold.woff2") format("woff2"),
    url("./Inter/Inter-Bold.woff") format("woff"),
    url("./Inter/Inter-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    font-weight: 900;
    src: url("./Inter/Inter-Black.woff2") format("woff2"),
    url("./Inter/Inter-Black.woff") format("woff"),
    url("./Inter/Inter-Black.ttf") format("truetype");
}