.lead__caption {
    margin: 0;
    padding-top: 8px;
    text-transform: uppercase;
    align-self: start;
    font-size: 10px;
    font-weight: normal;
    line-height: 14px;
    letter-spacing: .15em;
}

@media screen and (max-width: 820px) {
    .lead__caption {
        padding-left: 24px;
    }
}

@media screen and (max-width: 420px) {
    .lead__caption {
        padding-left: 16px;
    }
}