.cover__title {
    margin: 0;
    padding: 0;
    max-width: 560px;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    z-index: 1;
}

@media screen and (max-width: 720px) {
    .cover__title {
        max-width: 500px;
        font-size: 68px;
        line-height: 72px;
    }
}

@media screen and (max-width: 560px) {
    .cover__title {
        max-width: 248px;
        font-size: 32px;
        line-height: 35px;
    }
}