.place {
    max-width: 100%;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 460px));
    grid-gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: repeat(2, minmax(auto, 440px));
        grid-column-gap: 32px;
    }
}