.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1184px;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
        justify-content: space-between;
        gap: 48px;
        align-items: start;
    }
}