.page__footer {
    margin: 0 auto;
    padding: 0 48px 24px;
}


@media screen and (max-width: 820px) {
    .page__footer {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 600px) {
    .page__footer {
        padding-left: 16px;
        padding-right: 16px;
    }
}